*{
    margin:0;
    box-sizing: border-box;
    font-size: large;
}

div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
}

div *:not(li, ul, ol){
    margin: 7px 0;
}

li{
    list-style: none;
    margin-left: 0px;
    text-align: center  ;
}


input{
    appearance: none;
    border-radius: .2em .2em 0 0;
    background-color: #FFA14A;
    color:black;
    font-weight: bold;
    padding:5px;
    font-size: larger;
    border-bottom: 3px solid #823f00;
}

h1{
    font-style: italic;
}

button{
    font-size: large;
    padding: 4px 10px;
}


button:hover{
    cursor:pointer;
}

.category-list {
    display: flex;
    flex-flow: row wrap;
    gap:0 30px;
    padding: 20px 100px;
}

.listed-images{
    width:min-content;
    text-align: center;
}

.category-list h2{
    font-size: 40px;
    font-style: italic;
    width:3000px;
    text-align: center;
    padding:0 0 -100px;
}