#loading {
  margin: 40px 0;
  color: #00ff11;
}
.multiple {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.inverse {
  flex-direction: column;
}

button {
  font-size: 25px;
  padding: 15px 25px;
  border-radius: 5.5%;
  background-color: #2e53c2;
  color:white;
  font-weight: bold;
  border:0
}

button:hover{
    cursor:pointer;
    background-color: #001a67;
}
